h1 {
    background-color: blue;
    color: rgb(87, 0, 168);
}
body {
    background-image: linear-gradient(to right,#604EC4,#A235B4,#D63E67,#EB4B53,#f0571b,#F97A2D,#FFCF6D,#C8476D);
    background-attachment: fixed;
  }