@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #2A5159, #326b50);
}

main {
    background-color: white;
    border-radius: 15px;
    width: 600px;
    /*Largura*/
    box-shadow: 5px 5px 15px #091e47c2;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #5c8c46;
    text-align: center;
    text-shadow: 1px 1px 2px #365229;
}

h2 {
    color: #1a4163;
}

p {
    text-align: justify;
}